<%- include ('./admin/partials/header.ejs') %>

<h4 class="text-center mt-5"><span class="redColor text-uppercase"><%= region.name %></span> CANDIDATES</h4>

<div class="col-md-2 mx-auto form-group">
    <form action="" class="candidateForm" >
        <label for="status">Filter Candidates</label>
        <select class="form-control" name="status" id="status">
            <option value="">All</option>
            <option <%= select.b %> value="confirmed">Confirmed</option>
            <option <%= select.a %> value="pending">Pending</option>
        </select>
        <button class="btn btn-block mt-2 myBtn col-md-6 col-sm-10 text-white" type="submit" style="margin: auto;" class="btn btn-primary">Submit</button>
        
    </form>
</div>


<div class="container">
    <table class="table table-sm table-bordered">
        <thead class="blueColor">
            <tr>
                <th class="text-center">S/N</th>
                <th class="text-center">Matric</th>
                <th class="text-center">Name</th>
                <th class="text-center">Category</th>
                <th class="text-center">Level</th>
                <th class="text-center">Status</th>
                <th class="text-center" colspan="2">Confirm/Reject</th>
                <th class="text-center">-</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            <% candidates.forEach((candidate,index) => { %>
                <tr>
                    <td><%= index+1 %></td>
                    <td><%= candidate.matric %></td>
                    <td class="text-capitalize fullName"><%= candidate.fullName.toLowerCase() %></td>
                    <td class="text-capitalize"><%= categories[index].toLowerCase() %> </td>
                    <td><%= candidate.level %></td>
                    <td class="text-capitalize"><%= candidate.status %></td>
                    <% if (candidate.status == 'confirmed') { %>
                        <td class="text-center" title="This candidate is already confirmed">-</td>
                    <% } else { %>
                        <td class="text-center editor confirmBtn" id="<%= candidate.id %> " title="Accept Candidate Application"><i class="fa fa-1x fa-check blueColor"></i></td>
                    <% } %>
                    <td class="text-center editor denyBtn" id="<%= candidate.id %> " title="Reject/Overturn Candidate Application"><i class="fa fa-1x fa-close redColor"></i></td>
                    <td><a class="specColor" href="/<%= region.slug %>/admin/candidates/<%= candidate.id %> ">See Full Details</a></td>
                </tr>
            <% }) %>
        </tbody>
        <tfoot></tfoot>
        
        
    </table>
</div>

<script>

$('.confirmBtn').click(function() {
    let id = $(this).attr('id');
    let fullName = $(this).siblings('td.fullName').text();

    if (confirm(`Are you sure you want to confirm ${fullName.toUpperCase()} as a candidate in the upcoming election?`)) {
        $.ajax({
            method: 'POST',
            url: `/`+ '<%= region.slug %>' + `/admin/candidates/${id}/confirm`,
            success: function(response) {
                if (response.ok) {
                    alert(response.message)
                    window.location.reload(true);
                }
                else {
                    console.log(response.message)
                }
            },
            error: function(response) {
                console.error(response)
            }
        })
    }
})

$('.denyBtn').click(function() {
    let id = $(this).attr('id');
    let fullName = $(this).siblings('td.fullName').text();

    if (confirm(`Are you sure you want to reject ${fullName.toUpperCase()}'s application to participate as a candidate in the upcoming election?`)) {
        $.ajax({
            method: 'POST',
            url: `/`+ '<%= region.slug %>' + `/admin/candidates/${id}/deny`,
            success: function(response) {
                if (response.ok) {
                    alert(response.message)
                    window.location.reload(true);
                }
                else {
                    console.log(response.message)
                }
            },
            error: function(response) {
                console.error(response)
            }
        })
    }
})

</script>

<%- include ('./partials/footer.ejs') %> 