<%- include ('./regions/partials/header.ejs') %>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="specColor" href="/">Home</a></li>
    <li class="breadcrumb-item"><a class="specColor" href="/regions">Regions</a></li>
    <li class="breadcrumb-item"><a class="specColor" href="/<%= region.slug %> "><%= region.name %></a></li>
    <li class="breadcrumb-item breadcrumb-active"><a style="color: #BF1111;" href="">Candidates </a></li>
    <!-- <li class="breadcrumb-item active" aria-current="page">Data</li> -->
</ol>

<div class="container mx-auto">
    <% categories.forEach(category => { %>
        <h4 class="text-center mt-3"><span  style="color: #BF1111;">CATEGORY</span>: <%= category.name.toUpperCase() %> </h4>
        <div class="row mx-auto d-flex justify-content-center">
         <% if (category.candidates.length > 0) { %>
            <% category.candidates.forEach(candidate => { %>
                <div class="card m-3" style="width: 20rem;">
                    <a href="/<%= region.slug %>/candidates/<%= candidate.id %>"><img class="card-img-top" src="/images/jesutomiwa_passport.jpg" alt="Card image cap"></a>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span  class="blueColor">Name</span>: <span class="blueColor"><%= candidate.fullName%> </span></li>
                            <li class="list-group-item"><span  class="blueColor">Level</span>:   <span class="blueColor"><%= candidate.level %></span></li>
                            <li class="list-group-item"><a class="specColor" href="/<%= region.slug %>/candidates/<%= candidate.id %>">Go to Manifesto <i class="fa fa-external-link"></i></a></li>
                        </ul>
                    </div>
                </div>
            <% }) %>
         <% } else { %>
                <strong>No Candidates have applied for this position as at this time.</strong>
         <% } %> 
        </div>
        <hr>
        
    <% }) %>    
</div>


<%- include ('./partials/footer.ejs') %> 