<%- include ('./regions/partials/header.ejs') %>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="specColor" href="/">Home</a></li>
    <li class="breadcrumb-item"><a class="specColor" href="/regions">Regions</a></li>
    <li class="breadcrumb-item"><a class="specColor" href="/<%= region.slug %> "><%= region.name %></a></li>
    <li class="breadcrumb-item"><a class="specColor" href="/<%= region.slug %>/candidates">Candidates</a></li>
    <li class="breadcrumb-item breadcrumb-active"><a style="color: #BF1111;" href="?userCode=<%= candidate.statusCode %> ">Application Status</a></li>
    <!-- <li class="breadcrumb-item active" aria-current="page">Data</li> -->
</ol>

<div class="container">
    <div class="col-md-9 mt-5">
        <p>Dear <span class="redColor"><%= candidate.firstName + " " + candidate.lastName %></span>, </p>
        <p>
            <% if (candidate.status == 'pending') { %>
                Your application is still pending and yet to be confirmed by the electoral committee as at this time. Please check back later.<br>
                Thank You.
            <% } else if (candidate.status == 'denied') { %>
                Your application as a candidate in the forthcoming general election has been rejected by the electoral committee after thorough review.
                Thank You.
            <% } else { %>
                Your application has been confirmed by the electoral committee after thorough review, do ensure you abide by the rules governing each candidate in this election. <br>
                Good Luck at the Polls!
            <% } %>
        </p>
    </div>
    <hr>
</div>



<%- include ('./partials/footer.ejs') %> 